body {
    display:flex;
}

#container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: solid red 3px;
}

.squareStyle {
    border: solid black 1px;
    width: 145px;
}
