body {
    display:flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

#container {
    display: flex;
    width: 800px;
    height: 800px;
    background-color: gray;
}

.rowStyle {
    display:flex;
    flex-direction: column;
    flex:auto;
}

.columnStyle {
    display:flex;
    flex-direction: column;
    flex: auto;
}

.mouseOver {
    background: blue;
}
